[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=true
indent_style=tab
tab_width=4

[{*.sht,*.htm,*.html,*.shtm,*.shtml,*.ng}]
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[{messages.*,spring.handlers,spring.schemas,messages,org.codehaus.groovy.runtime.ExtensionModule,*.properties}]
indent_style=space
indent_size=4

[{*.ddl,*.sql}]
indent_style=tab
tab_width=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2
